<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Direccion</th>
			<th>Observacion</th>
			<th>Telefono</th>
		</tr>
	</thead>
	<tbody>
		<% @usuarios.each do |usuario| %>
			<tr>
				<td> <%= usuario.nombre 	   %> </td>
				<td> <%= usuario.direccion 	   %> </td>
				<td> <%= usuario.observaciones %> </td>
				<td> <%= usuario.telefono      %> </td>
			</tr>
		<% end %>
	</tbody>
</table>