<table>
	<tr>
		<td>Nombre de la persona:</td>
		<td><%= @nombre %></td>
	</tr>
	<tr>
		<td>Telefono de la persona:</td>
		<td><%= @telefono %></td>
	</tr>
	<tr>
		<td>Direccion de la persona:</td>
		<td><%= @direccion %></td>
	</tr>
</table>
